<tr>
	<td><b class="tablesaw-cell-label"> Customer Details </b> <%= link_to 'ORKS' + order.id.to_s, order_path(order) %>
			<%= " | " + order.created_at.to_s + " | " + order.user.user_profile.first_name + " | " %> <br />
			<%= order_address(order).address_1 + " " + order_address(order).address_2 + " " + order_address(order).city + " " + order_address(order).state + " " + order_address(order).pincode.to_s %> <br />
			<%= order.user.user_profile.phone_number %> </td>
	<td><b class="tablesaw-cell-label"> Order State </b> <%= order.order_state %> </td>
	<td><b class="tablesaw-cell-label"> No. of orders </b> <%= order.order_lines.count %> </td>	
	<td><b class="tablesaw-cell-label"> Total Amount </b> <%= order.order_value %> </td>
</tr>	