<div class = 'shop-details col-md-3'>
	<input type = 'radio' id = 'address' name = 'address' value = <%= f.id %> checked = 'true' >
	<p> <%= f.address_type %> </p>
	<div> <%= f.address_1 %> </div>
	<div> <%= f.address_2 %> </div>
	<div> <%= f.city %> </div>
	<div> <%= f.landmark %> </div>
	<div> <%= f.state %> </div>
	<div> <%= f.pincode %> </div>
</div>