<div id="push"></div>
<footer class="footer navbar-fixed-bottom">
  <div>
    <nav>
      <ul>
        <li><%= link_to "Contact Us", contact_users_path %></li>
        <li><%= link_to "Terms of Use",   "#" %></li>
        <li><%= link_to "Privacy Policy",   "#" %></li>
        <li><%= link_to "How it Works?", easy_registration_users_path %></li>
        <li><%= link_to "About Us", about_users_path %></li>
      </ul>
    </nav>
  </div>  
</footer>


